{% extends "layouts/base.html" %}

{% block title %} Camera {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Student List</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/student">Student</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Camera</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="row">
                    <!-- [ Main Content ] start -->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Get Data</h5>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="{{ url_for('home_blueprint.video', id=id, student_code=student_code) }}" width="60%"/>
                                    </div>
                                    <div class="text-center">
                                        <a href="{{ url_for('home_blueprint.student') }}" class="btn btn-primary mt-4" role="button" aria-pressed="true">Go to Student List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    
{% endblock javascripts %}