{% extends "layouts/base.html" %}

{% block title %} Category Form {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">
                                    {% if category %}
                                        Update Category   
                                    {% else %}
                                        Insert Category
                                    {% endif %} 
                                </h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/category">Category</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Category Form</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Category Form</h5>
                            </div>
                            <div class="card-body">
                                    {% if msg %}
                                        <span class="mb-0 text-muted">
                                            {{ msg | safe }}     
                                        </span>
                                        <br><br>
                                        {% else %}
                                    {% endif %} 

                                    {% if not success %}
                                        <form role="form" method="post" action="">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form.hidden_tag() }} 
                                                <div class="form-group">
                                                    {{ form.name.label }}
                                                    {% if category %}
                                                        {{ form.name(placeholder="Nhập bộ môn", class="form-control", value=category.name) }}
                                                    {% else %}
                                                        {{ form.name(placeholder="Nhập bộ môn", class="form-control") }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                {% if category %}
                                                    <button type="submit" name="update_category" value="{{category.id}}" class="btn btn-primary">Cập nhập</button>
                                                {% else %}
                                                    <button type="submit" name="new_category" class="btn btn-primary">Thêm mới</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}